.teams
  = link_to I18n.t("teams.create"), new_team_path, :class => 'create-team-btn'

  = form_tag teams_path, method: :get, class: 'team-search' do
    = text_field_tag :query, params[:query], placeholder: I18n.t('teams.find')
    = submit_tag "Search", name: nil, class: 'team-search-btn'

  .team-listing

    %table
      %tr
        %td.title-head
          %h2= I18n.t("teams.team_list")
        %td.status
          %h4= 'Entry'
        %td.members-head
          %h4= 'Members'
        %td.leader-head
          %h4= 'Leader'
        %td.games-head
          %h4= 'Games'
      %tr
        = render partial: 'team', collection: @teams
