%h2= @team.name

= image_tag(@team.avatar.display.url, class: 'avatar')

.team-change-display
  %div= I18n.t('teams.change_display')
  = form_for @team do |f|
    = f.file_field :avatar, class: 'file-field'
    = f.submit I18n.t('model.update'), class: 'update-display'

.team-members
  %h3= I18n.t('teams.members')
  %ul
    %li
      %h4
        = "#{I18n.t('teams.leader')}:"
        = link_to "#{@leader.username} - #{@leader.first_name} #{@leader.last_name}", user_path(@leader)

  - @members.each do |member|
    %li
      %h4= link_to "#{member.username} - #{member.first_name} #{member.last_name}", user_path(member)

.vlog
  %iframe{width: "420", height: "315", src: "//www.youtube.com/embed/lUk8tOeLCEg?theme=light", frameborder: "0", allowfullscreen: "true"}
