%h2= @team.name

= image_tag(@team.avatar.display.url, class: 'avatar')

.team-change-display
  %div= I18n.t('teams.change_display')
  = form_for @team do |f|
    = f.file_field :avatar, class: 'file-field'
    = f.submit I18n.t('model.update'), class: 'update-display'


