= form_tag user_session_path do
  %ul.login_elements
    %li
      %ul
        %li= text_field_tag 'user[login]', nil, placeholder: I18n.t("users.username_or_email"), class: 'signin-input'
        %li= password_field_tag 'user[password]', nil, placeholder: I18n.t("users.password"), class: 'signin-input'
        - if devise_mapping.omniauthable?
          - resource_class.omniauth_providers.each do |provider|
            = link_to image_tag('facebook_login.png', :width => 140), omniauth_authorize_path(resource_name, provider), class: 'facebook-login' if provider == :facebook
        %li= link_to I18n.t("users.forgot_password"), new_password_path('user'), class: 'forgot-password'
        %li= hidden_field_tag 'user[timezone]', nil, class: 'user-timezone'
        %li.signin
          %button.signin-btn= I18n.t("users.sign_in")
