<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "front_sign_up" }) do |f| %>
    <div class="signup-title"><%= I18n.t('users.get_started') %></div>
    <div class="control-group<%# form_error_class(resource, :username) -%>">
      <%# f.label I18n.t("users.username"), :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :username, :required => true, :placeholder => I18n.t("users.username"), :class => 'sign-up-input' %>
        <%# if error = form_error(resource, :username) -%>
        <p class="help-inline"><%# error %></p>
        <%# end -%>
      </div>
    </div>
    <div class="control-group<%# form_error_class(resource, :email) -%>">
      <%# f.label I18n.t("users.email"), :class => 'control-label' %>
      <div class='controls'>
        <%= f.email_field :email, :required => true, :placeholder => I18n.t("users.email"), :class => 'sign-up-input' %>
        <%# if error = form_error(resource, :email) -%>
        <p class="help-inline"><%# error %></p>
        <%# end -%>
      </div>
    </div>
    <div class="control-group<%# form_error_class(resource, :password) -%>">
      <%# f.label I18n.t("users.password"), :class => 'control-label' %>
      <div class='controls'>
        <%= f.password_field :password, :required => true, :placeholder => I18n.t("users.password"), :class => 'sign-up-input' %>
        <%# if error = form_error(resource, :password) -%>
        <p class="help-inline"><%# error %></p>
        <%# end -%>
      </div>
    </div>
    <div class="control-group<%# form_error_class(resource, :password_confirmation) -%>">
      <%# f.label I18n.t("users.password_confirmation"), :class => 'control-label' %>
      <div class='controls'>
        <%= f.password_field :password_confirmation, :required => true, :placeholder => I18n.t("users.password_confirmation"), :class => 'sign-up-input' %>
        <%# if error = form_error(resource, :password_confirmation) -%>
        <p class="help-inline"><%# error %></p>
        <%# end -%>
      </div>
    </div>
    <%= f.hidden_field :timezone, class: 'user-timezone' %>
  <!-- <div class="form-actions"> -->
  <%= render 'devise/omniauth' %>
  <%= f.submit I18n.t("users.signup"), :class => "signup-btn" %>
  <!-- </div> -->
<% end %>
