.groups
  = link_to I18n.t("groups.create"), new_group_path, :class => 'large-btn'

  = form_tag groups_path, method: :get, class: 'group-search' do
    = text_field_tag :query, params[:query], placeholder: I18n.t('groups.find')
    = submit_tag "Search", name: nil, class: 'group-search-btn'


  .group-listing
    %table
      %tr
        %td.title-head
          %h2= I18n.t("groups.group_list")
        %td.status
          %h4= 'Kind'
        %td.leader-head
          %h4= 'Members'
      %tr
        = render partial: 'group', collection: @groups


