- unless current_user.groups.include? @group
  = form_for @group_membership do |f|
    = f.hidden_field :group_id, value: @group.id
    = f.submit I18n.t("groups.join"), class: 'join-group-btn'

%h1= @group.name
%h2= @group.kind

.group-members
  %h3= I18n.t('groups.members')
  - @group.users.each do |user|
    %h4= link_to "#{user.username} - #{user.first_name} #{user.last_name}", user_path(user)
