%h1= @user.username
%h2= "#{@user.first_name} #{@user.last_name}"
= image_tag(@user.avatar.display.url, class: 'avatar')

- if @user == current_user
  .user-change-display
    %div= I18n.t('users.change_display')
    = form_for @user do |f|
      = f.file_field :avatar, class: 'file-field'
      = f.submit I18n.t('model.update'), class: 'update-display'

= form_tag user_path(@user), method: :get do
  = text_field_tag :timezone, nil, id: 'muh_input_id'
  = submit_tag "gogo"
