%h1= @user.username
%h2= "#{@user.first_name} #{@user.last_name}"

/ - if @user == current_user
/   = link_to image_tag(@user.avatar.profile.url, class: 'avatar', width: '230px'), edit_user_path(current_user)
/ - else
/   = image_tag(@user.avatar.profile.url, class: 'avatar', width: '230px')

/ - if @user.avatar.present?
/   = image_tag(@user.avatar.profile.url, class: 'avatar', width: '230px')
/ - else
/   = image_tag(@user.avatar_url(400))

= image_tag(@user.avatar_url(200))

- if @twitch.try(:stream_live?)
  %h3= I18n.t('accounts.twitch_online')
  = link_to I18n.t('accounts.twitch_watch'), @twitch.get_stream_url, class: 'small-btn'
- elsif @twitch.username
  %h3= I18n.t('accounts.twitch_offline')
  = link_to I18n.t('accounts.twitch_visit'), @twitch.get_channel_url, class: 'small-btn'

- content_for :javascripts do
  / alert('hi');
