<h1>{{name}}</h1>
<button {{action 'destroy' model}} class="btn btn-danger">Delete</button>
<h2>description: {{description}}</h2>
<h3>created at: {{createdAt}}</h3>
<h3>updated at: {{updatedAt}}</h3>
