- if @tournament.open && !@tournament.started
  - if @tournament.mode == "individual"
    .sign_up
      = form_for @tournament_membership do |f|
        = f.hidden_field :tournament_id, value: @tournament.id
        = f.submit I18n.t('tournaments.enter'), class: 'tournament-sign-up-btn'
  - elsif @tournament.mode == "team"
    - if current_user.team_leaderships.present? && !@tournament.teams.any? { |t| current_user.team_leaderships.include? t }
      %h3= "Select Team to Enter:"
      .sign_up
        = form_for @tournament_membership do |f|
          = f.hidden_field :tournament_id, value: @tournament.id
          = f.select :team_id, current_user.team_leaderships.map {|team| [team.name, team.id]}
          = f.submit I18n.t('tournaments.enter'), class: 'tournament-sign-up-btn'
    - else
      = I18n.t('tournaments.team_disclaimer')

