%h2.edit_tournament_title= I18n.t("tournaments.edit_form")

= render 'form'


.auxiliaries
  .moderator-list
    %h2= I18n.t('moderators.list')

    - @tournament.moderators.each do |mod|
      %h4= link_to "#{mod.username} - #{mod.first_name} #{mod.last_name}", user_path(mod)

  .broadcaster-list
    %h2= I18n.t('broadcasters.list')

    - @tournament.broadcasters.each do |bc|
      %h4= link_to "#{bc.username} - #{bc.first_name} #{bc.last_name}", user_path(bc)


  .add-auxiliary
    %h2= I18n.t('tournaments.add_auxiliary')

    = form_tag users_path, method: :get, class: 'user-search' do
      = text_field_tag "user[query]", nil, placeholder: I18n.t('users.find'), class: 'search-input'
      = hidden_field_tag "user[user_id]"
      = submit_tag "Search", name: nil, class: 'user-search-btn'

    %h3= I18n.t('search.results')

    .auxiliary-candidates

    .moderator-candidate-form
      = form_for :invitation, url: invitations_path do |f|
        = f.hidden_field :user_id
        = f.hidden_field :tournament_id
        = f.hidden_field :role, value: 'moderator'
        = f.hidden_field :sender_id, value: current_user.id
        = f.submit nil, value: 'Send Moderator Invitation'

    .broadcaster-candidate-form
      = form_for :invitation, url: invitations_path do |f|
        = f.hidden_field :user_id
        = f.hidden_field :tournament_id
        = f.hidden_field :role, value: 'broadcaster'
        = f.hidden_field :sender_id, value: current_user.id
        = f.submit nil, value: 'Send Broadcaster Invitation'
