.tournaments
  = link_to I18n.t("tournaments.create"), new_tournament_path, class: 'create-tournament-btn'

  = form_tag tournaments_path, method: :get, class: 'tournament-search' do
    = text_field_tag :query, params[:query], placeholder: I18n.t('tournaments.find'), class: 'search-input'
    = submit_tag "Search", name: nil, class: 'tournament-search-btn'

  .tournament-listing
    %h2= I18n.t("tournaments.listing")
    %ul
      - @tournaments.each do |tournament|
        %li
          %h3= link_to tournament.title, tournament_path(tournament)
          %p= tournament.description
