.tournaments
  = link_to I18n.t("tournaments.create"), new_tournament_path, class: 'large-btn create-tournament-btn'

  = form_tag tournaments_path, method: :get, class: 'tournament-search' do
    = text_field_tag :query, params[:query], placeholder: I18n.t('tournaments.find'), class: 'search-input'
    = submit_tag "Search", name: nil, class: 'tournament-search-btn'

  .tournament-listing

    %table
      %tr
        %td.title-head
          %h2= I18n.t("tournaments.listing")
        %td.status
          %h4= "Entry"
        %td.game-head
          %h4= "Game"
        %td.mode-head
          %h4= "Mode"
        %td.start-time-head
          %h4= "Start Time"
        %td
          %h4= "Host"
        %td
          %h4= "Affiliates"
      - @tournaments.each do |tournament|
        %tr
          %td.title
            %h3= link_to tournament.title, tournament_path(tournament)
            .description= tournament.description
          %td.status
            = tournament_open_status(tournament)
          %td.game
            = tournament.game
          %td.mode
            = tournament.mode.capitalize
          %td.start-time
            = tournament.starts_at.strftime('%B %e, %Y')
            = tournament.starts_at.strftime('%l:%M%P')
          %td.owner
            = tournament.owner.username
          %td

