%h2= I18n.t("tournaments.create")
= form_for @tournament do |f|
  = f.text_field :title, placeholder: 'Title', class: 'tournament-input-field'
  = f.text_field :game, placeholder: 'Game', class: 'tournament-input-field'
  = f.text_field :starts_on, placeholder: 'Start Date', class: 'tournament-input-field'
  = f.text_area :description, placeholder: 'Description', class: 'tournament-input-area'

  = f.submit 'Create', :disable_with => 'Creating...', class: 'tournament-submit'

