%h2= I18n.t("tournaments.create")
= form_for @tournament do |f|
  .tournament_title= f.label :title, "Title"
  = f.text_field :title
  .tournament_game= f.label :game, "Game"
  = f.text_field :game
  .tournament_start= f.label :start_time, "Start Time"
  = f.datetime_select :start_time
  .tournament_create= f.submit "Create", :disable_with => 'Creating...'

