.tournament-banner
  %h2= @tournament.title
  %h3= @tournament.game
  %h3= @tournament.starts_on

.sign_up
  = form_for @tournament_membership do |f|
    = f.hidden_field :tournament_id, value: @tournament.id
    = f.submit I18n.t('tournaments.enter'), class: 'tournament-sign-up-btn'

- if @owner == current_user
  .owner-panel
    %h3= 'Owner Panel'
    = button_to I18n.t('tournaments.manual_start'), tournament_path(@tournament, start: true), method: :put, class: 'manual-start-btn'
    .add-moderator
      %h4= I18n.t('tournaments.add_moderator')
      = form_for @moderator_role do |f|
        = f.hidden_field :tournament_id, value: @tournament.id
        = f.select :user_id, User.all.map {|u| [u.username, u.id]}
        = f.submit

.owner
  %h3= I18n.t('tournaments.owner')
  %h4= link_to "#{@owner.username} - #{@owner.first_name} #{@owner.last_name}", user_path(@owner)

.moderators
  %h3= I18n.t('tournaments.moderators')
  - @tournament.moderators.each do |mod|
    %h4= link_to "#{mod.username} - #{mod.first_name} #{mod.last_name}", user_path(mod)

.participants
  %h3= I18n.t('tournaments.participants')
  - @tournament.users.each do |p|
    %h4= link_to "#{p.username} - #{p.first_name} #{p.last_name}", user_path(p)

.matches
  = @tournament.matches

.bracket_data
  - if @tournament.started?
    = @tournament.bracket.map {|round| round.map {|match| match.user_showings.sort_by {|us| us.top ? 0 : 1 }.map {|us| us.user.username } if match != nil }}.to_json

.update_path
  = request.env["REQUEST_URI"]

- if @owner == current_user || @tournament.moderators.include?(current_user)
  .moderator-status= "true".to_json

.bracket




