.tournament-banner
  %h2= @tournament.title
  %h3= @tournament.game
  %h3
    = I18n.t('tournaments.starts_at')
    = @tournament.starts_at.strftime('%l:%M%P')
  %h3= I18n.t('tournaments.description')
  %p= @tournament.description

.sign_up
  = form_for @tournament_membership do |f|
    = f.hidden_field :tournament_id, value: @tournament.id
    = f.submit I18n.t('tournaments.enter'), class: 'tournament-sign-up-btn'

- if @owner == current_user
  .owner-panel
    %h3= 'Owner Panel'
    = button_to I18n.t('tournaments.manual_start'), tournament_path(@tournament, start: true), method: :put, class: 'manual-start-btn'
    .add-moderator
      %h4= I18n.t('tournaments.add_moderator')

      = form_tag moderator_roles_path, method: :post, class: 'moderator-role-search' do
        = text_field_tag "moderator_role[query]", nil, placeholder: I18n.t('users.find'), class: 'search-input'
        = hidden_field_tag "moderator_role[user_id]"
        = submit_tag "Add Moderator", name: nil, class: 'tournament-search-btn'


.owner
  %h3= I18n.t('tournaments.owner')
  %h4= link_to "#{@owner.username} - #{@owner.first_name} #{@owner.last_name}", user_path(@owner)

.moderators
  %h3= I18n.t('tournaments.moderators')
  - @tournament.moderators.each do |mod|
    %h4= link_to "#{mod.username} - #{mod.first_name} #{mod.last_name}", user_path(mod)

.participant-count
  %h3= "#{@tournament.tournament_memberships.count} #{I18n.t('tournaments.participants')}"

.participants
  %h3= I18n.t('tournaments.participants')
  - @tournament.users.each do |p|
    %h4= link_to "#{p.username} - #{p.first_name} #{p.last_name}", user_path(p)

.matches
  = @tournament.matches

.bracket_data
  - if @tournament.started?
    = @tournament.bracket.map {|round| round.map {|match| match.user_showings.sort_by {|us| us.top ? 0 : 1 }.map {|us| us.user.username } if match != nil }}.to_json

.update_path
  = request.env["REQUEST_URI"]
.tournament_id
  = @tournament.id

- if @owner == current_user || @tournament.moderators.include?(current_user)
  .moderator-status= "true"
- else
  .moderator-status= "false"

.bracket


