.tournament_show
  .title
  = @tournament.title
  .game
  = @tournament.game
  .start_time
  = @tournament.start_time
.owner
  .owner_id
  Owner:
  = @tournament.owner.username
  - if @tournament.owner == current_user
    = button_to "Manual Start", tournament_path(@tournament, start: true), method: :put
  .sign_up
  Sign up for dis tournament!
  = form_for @tournament_membership do |f|
    = f.hidden_field :tournament_id, value: @tournament.id
    = f.submit('Sign up')

.tournament_members
  - @tournament.users.each do |u|
    .username
    = u.username
    .email
    = u.email

.matches
  = @tournament.matches

.bracket_data
  - if @tournament.started?
    = @tournament.bracket.map {|round| round.map {|match| match.users.map {|user| user.username } if match != nil }}.to_json

.current_user_id
  CURR USER:
  = current_user.id

.update_path
  = request.env["REQUEST_URI"]

.bracket




