.tournament-banner
  %h2= @tournament.title
  %h3= @tournament.game

  - if @tournament.mode == "individual"
    %h3= "#{I18n.t('tournaments.individual_mode') } #{I18n.t('tournaments.tournament')}"
  - elsif @tournament.mode == "team"
    %h3= "#{I18n.t('tournaments.team_mode')} #{I18n.t('tournaments.tournament')}"
  %h3= "Starts in #{distance_of_time_in_words(Time.current, @tournament.starts_at)}"
  %h3
    = I18n.t('tournaments.starts_at')
    = @tournament.starts_at.strftime('%l:%M%P on %B %e, %Y')
  %h3= I18n.t('tournaments.description')
  %p= @tournament.description

= render 'sign_up_button'

- if @owner == current_user
  .owner-panel
    %h3= 'Owner Panel'
    = button_to I18n.t('tournaments.manual_start'), start_tournament_path(@tournament, {tournament: {start: true}}), method: :post, class: 'manual-start-btn'

    = button_to I18n.t('tournaments.edit'), edit_tournament_path(@tournament), method: :get, class: 'edit-tournament-btn'


.owner
  %h3= I18n.t('tournaments.owner')
  %h4= link_to "#{@owner.username} - #{@owner.first_name} #{@owner.last_name}", user_path(@owner)

.moderators
  %h3= I18n.t('moderators.moderators')
  - @tournament.moderators.each do |mod|
    %h4= link_to "#{mod.username} - #{mod.first_name} #{mod.last_name}", user_path(mod)

.participant-count
  %h3= "#{@tournament.tournament_memberships.count} #{I18n.t('tournaments.participants')}"

.participants
  %h3= I18n.t('tournaments.participants')
  - if @tournament.mode == 'individual'
    - @tournament.users.each do |p|
      %h4= link_to "#{p.username} - #{p.first_name} #{p.last_name}", user_path(p)
  - elsif @tournament.mode == 'team'
    - @tournament.teams.each do |t|
      %h4= link_to "#{t.name}", team_path(t)

.matches
  = @tournament.matches

.bracket_data
  - if @tournament.started?
    = TournamentSerializer.new(@tournament).to_json

.update_path
  = request.env["REQUEST_URI"]
.tournament_id
  = @tournament.id

- if @owner == current_user || @tournament.moderators.include?(current_user)
  .moderator-status= "true"
- else
  .moderator-status= "false"

.bracket


