.user-tournament
  - if participant
    %h4= I18n.t("tournaments.participant")
    %h4= I18n.t("tournaments.owner")
  - else
    %h4= I18n.t("tournaments.owner")
  %h3= link_to tournament.title, tournament_path(tournament)
  %h4= "Starts in #{distance_of_time_in_words(Time.current, tournament.starts_at)} at #{tournament.starts_at.strftime('%l:%M%P on %B %e, %Y')}"
  %h4= pluralize(tournament.tournament_memberships.count, 'participant')
  .manage= link_to I18n.t("tournaments.edit"), edit_tournament_path(tournament), class: 'small-btn'
  .delete= link_to I18n.t("tournaments.delete"), tournament_path(tournament), method: :delete, class: 'tournament-delete-btn small-btn'
