.user-team
  %h3= link_to team.name, team_path(team)
  - if leader
    %h4= pluralize(team.users.count, 'member')
    .team-role
      %h4= I18n.t("teams.leader")
    .control-buttons
      .manage= link_to I18n.t('teams.manage'), edit_team_path(team), class: 'small-btn'
  - else
    %h4= pluralize(team.users.count, 'member')
    .team-role
      %h4= I18n.t("teams.member")

