- unless current_user
  = render 'devise/registrations/new'
- else
  .welcome
    %h2= "Welcome #{current_user.first_name} #{current_user.last_name}!"
    %h3= "You are logged in as #{current_user.username}"
  .user-panel
    .user-groups
      %h2= "Your Groups"
      - current_user.groups.each do |group|
        %h3= link_to group.name, group_path(group)
        %h4= group.kind

    .user-teams
      %h2= "Your Teams"
      - if current_user.teams.empty?
        %p= I18n.t("teams.no_teams")
      - current_user.teams.each do |team|
        %h3= link_to team.name, team_path(group)

