- unless current_user
  .slogan-panel-border
    .slogan-panel
  .slogan
    %h1= I18n.t('home.slogan')
  .feature-panel-border
    .feature-panel
  .features
    %ul
      %li
        %h2= I18n.t('home.connect')
        %p= I18n.t('home.connect_description')
      %li
        %h2= I18n.t('home.compete')
        %p= I18n.t('home.compete_description')
      %li
        %h2= I18n.t('home.create')
        %p= I18n.t('home.create_description')

  = render 'devise/registrations/new'
- else
  .user-panel
    .user-invitations
      - if current_user.invitations.present?
        %h2= "Invitations"
        - current_user.invitations.each do |invitation|
          %p= invitation.message
          - if invitation.team_id.present?
            = render 'team_invite', invitation: invitation
          - if invitation.tournament_id.present?
            = render 'tournament_invite', invitation: invitation

    .user-tournaments
      %h2= "Your Tournaments"
      - if current_user.all_tournaments.empty?
        %p= I18n.t("tournaments.none")
      - else
        - current_user.all_tournaments.each do |tournament|
          - if current_user == tournament.owner && current_user.tournaments.include?(tournament)
            = render 'owner_tournament', participant: true, tournament: tournament
          - elsif current_user == tournament.owner
            = render 'owner_tournament', participant: false, tournament: tournament
          - elsif current_user.tournaments.include? tournament
            = render 'participant_tournament', tournament: tournament

    .user-teams
      %h2= "Your Teams"
      - if current_user.teams.empty?
        %p= I18n.t("teams.none")
      - else
        - current_user.teams.each do |team|
          .user-team
            %h3= link_to team.name, team_path(team)
            - if current_user == team.leader
              %h4= I18n.t("teams.leader")
              %h4= pluralize(team.users.count, 'member')
              .manage= link_to I18n.t('teams.manage'), edit_team_path(team), class: 'small-btn'

            - else
              %h4= I18n.t("teams.member")
              %h4= pluralize(team.users.count, 'member')


    .user-groups
      %h2= "Your Groups"
      - if current_user.groups.empty?
        %p= I18n.t('groups.none')
      - else
        - current_user.groups.each do |group|
          .user-group
            %h3= link_to group.name, group_path(group)
            %h4= group.kind
            %h4= pluralize(group.users.count, 'member')
