= form_for @event do |f|
  = f.text_field :title, placeholder: 'Title'
  = f.text_area :description, placeholder: 'Description'
  = f.text_field :start_date, value: @event.starts_at.try(:strftime, "%Y-%m-%d"), placeholder: 'Date'
  = f.text_field :start_hour, placeholder: 'Hour', value: @event.starts_at.try(:strftime, "%l").try(:strip)
  = f.text_field :start_minute, placeholder: 'Minute', value: @event.starts_at.try(:strftime, "%M")
  = f.select :start_period, [['pm', 'pm'],['am', 'am']], selected: @event.starts_at.try(:strftime, "%P")
  = f.hidden_field :group_id, value: params[:group_id]
  = f.hidden_field :team_id, value: params[:team_id]

  = f.submit class: 'event-submit'




