<h2 style="margin-bottom: 50px">Account Settings</h2>

<div class="row">
  <div class="col-sm-3 col-md-2" style="text-align: center">
    {{#link-to 'user.index' this class="btn btn-lg btn-default"}}View Profile{{/link-to}}
    <div class="thumbnail" style="text-align: center; margin-top: 10px">
      <img {{bind-attr src=avatarUrl}}>
      <div class="caption" style="text-align: center">
        <h4>Display Picture</h4>
        <button {{action 'avatarUploadModal'}} class="btn btn-default">Change</button>
      </div>
    </div>
  </div>

  {{#if summonerNameSet}}
    <div class="col-md-3 col-sm-5">
      <div style="text-align: center">
        <h2>{{lolAccount.summonerName}}</h2>
        <img {{bind-attr src=divisionImageUrl}}>
        <h4>{{lolAccount.soloTier}} {{lolAccount.soloRank}}</h4>
        <h4>{{formatRegion lolAccount.region}}</h4>
        <button {{action 'updateSummonerData'}} class="btn btn-default">Update Data</button>
      </div>
    </div>
  {{/if}}

  <div class="col-md-3 col-sm-5">
    {{#unless verifyStep}}
      <h3>Connect Summoner</h3>

      <div class="form-group" {{bind-attr class="hasSummonerNameError:has-error"}}>
        <label>League of Legends Summoner Name</label>
        {{input value=summonerName class="form-control"}}

        {{#each summonerNameErrors}}
          <span class="help-block text-danger">{{.}}</span>
        {{/each}}
      </div>

      <div class="form-group">
        <label>Region</label>
        {{view Ember.Select content=regions optionValuePath="content.value" optionLabelPath="content.label" value=selectedRegion class="form-control"}}
      </div>

      <button {{action 'addSummonerName'}} class="btn btn-default col-md-offset-4">Continue</button>
    {{else}}
      <h3>Summoner Verification</h3>


      <p>You're almost done. The summoner name <strong>{{summonerName}}</strong> has been found in the {{selectedRegionLabel}} region.</p>
      <p>Please verify that you own this summoner by renaming one of your rune pages to the following case-sensitive code: <code>{{verificationCode}}</code></p>
      <p>After you save your rune page, please wait 5 seconds before clicking verify. </p>
      <p>Riot's API servers tend to be slow in receiving your changes. You may need click verify more than once. </p>



      <button {{action 'verifySummonerName'}} class="btn btn-default col-md-offset-4">Verify</button>
    {{/unless}}
  </div>


  <div class="col-md-3 col-sm-5">
    <h3>Change Password</h3>

    <div class="form-group" {{bind-attr class="hasOldPasswordError:has-error"}}>
      <label>Old Password</label>
      {{input type="password" value=oldPassword class="form-control"}}

      {{#each oldPasswordErrors}}
        <span class="help-block text-danger">{{.}}</span>
      {{/each}}
    </div>

    <div class="form-group" {{bind-attr class="hasNewPasswordError:has-error"}}>
      <label>New Password</label>
      {{input type="password" value=newPassword class="form-control"}}
      {{#unless hasNewPasswordError}}
        <span class="help-block">Note: password must be at least 8 characters long.</span>
      {{/unless}}
      {{#each newPasswordErrors}}
        <span class="help-block text-danger">{{.}}</span>
      {{/each}}
    </div>


    <div class="form-group" {{bind-attr class="hasNewPasswordConfirmationError:has-error"}}>
      <label>New Password Confirmation</label>
      {{input type="password" value=newPasswordConfirmation class="form-control"}}
      {{#each newPasswordConfirmationErrors}}
        <span class="help-block text-danger">{{.}}</span>
      {{/each}}
    </div>

    <button {{action 'updatePassword'}} class="btn btn-default col-md-offset-4">Update</button>
  </div>
</div>
