<h1>{{name}}</h1>
<br>
<div class="row">
  <div class="col-sm-3 col-md-2" style="text-align: center">
    <br>
    <img {{bind-attr src=avatarUrl}} class='img-thumbnail'>
  </div>

  {{#if lolAccount}}
    <div class="col-md-3 col-sm-5 ">
      <div style="text-align: center">
        <h2>{{lolAccount.summonerName}}</h2>
        <img {{bind-attr src=divisionImageUrl}}>
        <h4>{{lolAccount.soloTier}} {{lolAccount.soloRank}}</h4>
        <h4>{{formatRegion lolAccount.region}}</h4>
      </div>
    </div>
  {{/if}}

  {{#if teams}}
    <div class="col-md-4 col-sm-6 col-md-offset-0">
      <h2>Teams</h2>
      <br>
      <table class="table table-striped">

        {{#each team in this.teams.content}}
          <tr>
            <td>{{#link-to 'team' team}}{{team.name}}{{/link-to}}</td>
            <td>{{formatRegion team.lolRegion}}</td>
          </tr>
        {{/each}}
      </table>

    </div>
  {{/if}}

</div>
