<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gameway</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" padding-left="20px">
        {{#link-to 'tournaments' tagName='li'}}<a href>Tournaments</a>{{/link-to}}
        {{#link-to 'teams' tagName='li'}}<a href>Teams</a>{{/link-to}}
      </ul>

      {{#if gon.userSignedIn}}
        <ul class="nav navbar-nav navbar-right">
          {{#link-to 'user.edit' currentUser.id tagName='li'}}<a href>{{currentUser.email}}</a>{{/link-to}}
          <li><a href {{action 'logout'}}>Logout</a></li>
        </ul>
      {{else}}

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Forgot password?</a></li>
          {{#link-to 'users.new' tagName='li'}}<a href>Sign Up</a>{{/link-to}}
        </ul>

        <form class="navbar-form navbar-right" role="login">
          <div class="form-group" {{bind-attr class="hasSignInError:has-error"}}>
            {{input placeholder="Email" value=email class="form-control"}}
            {{input type="password" placeholder="Password" value=password class="form-control"}}
          </div>
          <button {{action 'sign_in'}} class="btn btn-default">Log In</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><a {{bind-attr href=twitchAuthURL}}>Connect with Twitch</a></li>
        </ul>
      {{/if}}
    </div>
  </div>
</nav>

{{view Gameway.FlashListView}}

<div class="container">
  {{outlet}}
  {{outlet modal}}
</div>
