<div class="tournament-banner">
  <h2>{{title}}</h2>

  <table>
    <tr>
      <td>
        <h3>Game:</h3>
      </td>
      <td>
        <h3>{{game}}</h3>
      </td>
    </tr>

    <tr>
      <td>
        <h3>Mode:</h3>
      </td>
      <td>
        {{#if isTeamMode}}
          <h3>Team</h3>
        {{else}}
          <h3>Individual</h3>
        {{/if}}
      </td>
    </tr>

    <tr>
      <td>
        <h3>Starts in:</h3>
      </td>
      <td>
        <h3>{{starts_at}}</h3>
      </td>
    </tr>

    <tr>
      <td>
        <h3>Owner:</h3>
      </td>
      <td>
        {{!-- <h3>{{#link-to 'user' owner}} {{ownerFormatted}} {{/link-to}}</h3> --}} <h3>Owner name placeholder</h3>
      </td>
    </tr>

    <tr>
      <td>
        <h3>Description:</h3>
      </td>
      <td>
        <h3>{{description}}</h3>
      </td>
    </tr>
  </table>
</div>


  {{#if currentUser.isSignedIn}}
    "HAY YOURE SIGNED IN :DDD"
  {{else}}
    "ACCESS DENIED"
  {{/if}}


  {{#if displayIndividualSignup}}
    <button class="medium-btn" {{action 'individualSignup'}}>Enter Tournament</button>
  {{/if}}

  {{#if liveStreamers}}
    <h2>Broadcasters</h2>
    {{#each liveStreamers}}
      <a href="/users/{{unbound [0].user.id}}"><img src="{{unbound [0].user.avatar_url}}" width="47px"></a>
      <a href="/users/{{unbound [0].user.id}}">{{[0].user.username}} - {{[0].user.first_name}} {{[0].user.last_name}}</a>
      <a href="{{unbound [1]}}" class="small-btn">Watch Stream</a>
    {{/each}}
  {{/if}}

  <div class="participant-count"></div>

  <div class="participants">
    <h3>Participant List</h3>
    {{#if isTeamMode}}
      {{#each teams}}
        <h4><a href="/teams/{{unbound id}}">{{name}}</a></h4>
      {{/each}}
    {{else}}
      {{#each users}}
        <h4><a href="/users/{{unbound id}}">{{username}} - {{first_name}} {{last_name}}</a></h4>
      {{/each}}
    {{/if}}
  </div>



{{!--   {{#if displayTeamSignup}}
    <select>
      {{#each currentUserTeams}}
        <option >{{name}}</option>
      {{/each}}
    </select>
  {{/if}}
 --}}



{{#with controller}}
  {{!-- {{controller.model.orderedBracket}} --}}
  {{!-- {{orderedBracket}} --}}
{{/with}}
