!!!
%html{class: ('welcome' if params[:controller] == 'home' && params[:action] == 'index' && !current_user) }
  %head
    %title Gameway
    %link{href: 'http://fonts.googleapis.com/css?family=Expletus+Sans:400,700', rel: 'stylesheet', type:'text/css'}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    - unless !current_user && params[:action] == 'index' && params[:controller] == 'home'
      - if notice
        .notice= notice
      - if alert
        - if alert.class == Array
          .alert
            - alert.each do |error|
              .error= error
        - else
          .alert= alert
      - if resource.errors.present?
        - if resource.errors.class == Array
          .alert
            - resource.errors.each do |error|
              .error= error
        - else
          .alert= alert
        .devise_errors= resource.errors.full_messages
    %input{type: 'hidden', class: 'time_zone'}
    .container
      = yield

= javascript_include_tag "application", "data-turbolinks-track" => false

= "<script>#{yield :javascripts}</script>".html_safe
